<!DOCTYPE html>
<html lang="pt=br">
    <head>
        <meta charset="utf-8">
        <title>aTalk</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h2>Minha Agenda de contactos</h2>
            <h3>Bem vinado aTalk</h3>
        </header>
        <section>
            <form action="/entrar" method="POST">
                <input type="text" name="nome" placeholder="Nome completo">
                <input type="text" name="email" placeholder="Seu meail">
                <button type="submit">Entrarr</button>
            </form>
        </section>
        <footer>
            <small>aTalk - sua agenda de contactos</small>
        </footer>
    </body>
</html>